.jumbotron {
    background-color: #027095;
    color: #ffffff;
    height: 250px;
  }
.heading{
    padding: 50px;
}
 .iconx {
    font-size: 200px;
    color: #027095;
  }
  .iconx2 {
    font-size: 200px;
    color: #027095;
  }
  .about{
    border:'1px solid red';
    height:100%;
    position:'relative';
  }
  .aboutimg{
    width: 40px;
    padding: 3px;
    border-radius: 50%;
  }
  .cont{
      margin-bottom: 250px;
  }
